<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
}

.column2 {
  float: left;
}

.column1b {
    padding-left: 20px;
  float: left;
  width: 8%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
    clear:both;
}
</style>
</head>
<body>
    <p><a href="/">Home</a> &nbsp; &nbsp; <a href="capture">Capture</a> &nbsp; &nbsp; <a href="gallery">Gallery</a> &nbsp; &nbsp; <a href="clear">Clear</a></p>
  {% for rec in images %}
  <div class="column1"><img src="/static/{{rec['imagename']}}" width="500" alt="/static/{{rec['imagename']}}"></div>
  <br class="clear">
    {% for l in rec['objects_detected'] %}
    <div class="column1">Count: {{l['count']}}  Object: {{l['object']}}</div><br class="clear">
    {% endfor %}
  <br class="clear">
  <br class="clear">
  {% endfor %}

  {% for vid in videos %}
    <p>
        <video width="500" controls>
        <source src="/static/{{vid}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </p>
  {% endfor %}
</body>